<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(user) %>
        <%= user.email %>
        <td><%= link_to 'ユーザー詳細', user %></td>
        <%= render 'follow_form', user: user %>
      </div>
  <% end %>
</div>